header {background-color: #145F4A;margin:0px;
color:#FEFFD3;font-weight: bold;}
body {background-color: #FEFFD3;padding: 0px; }

#topMenu {border-top: groove 3px #A27FB4;}
#contactForm{border: 4px #145F4A groove; padding:10px;
                margin-top: 5px;}
.left-column {color : #145F4A;}
.nav-item {background-color: #B0D5CB;margin:0px 1px;}
.location {margin:10px 5px;}    
.content {
    min-height: 60%;
    background-image: url("./img/travel_collage-2.jpg")  ;
    background-position: bottom right;
    background-repeat: no-repeat;}
